.homePageAlert {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: #f8d7da; */
    color: #721c24; /* Adjust text color */
    /* border: 1px solid #f5c6cb; */
    padding: 10px;
    /* width: 300px; */
    text-align: center;
  }

.vocab {
  padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button:hover {
  cursor: pointer;
}

button {
  padding: 10px 20px;
  background-color: hotpink;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.title {
  color: black;
  text-align: center;
  position: relative;
  top: -200px;
}