.navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    color: #003366;
    padding: 10px;
    position: fixed; /* 固定在页面顶部 */
    width: 100%; /* 宽度设置为100% */
    top: 0;
    left: 0;
    z-index: 1000; /* 确保导航栏位于最顶层 */
}

.loginButton {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px; /* 增加一些右侧边距，根据需要调整 */
    flex-grow: 0; /* 防止伸展填充额外空间 */
    }

.login-button, .adminPage {
    background-color: hotpink;
    color: white; /* White text */
    border: none;
    /* padding: 15px; */
    margin-left: 5px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}